@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f5f5f5] text-[#242424];
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #2b2b2b;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    border-radius: 100vh;
    border: 1px solid #2c2c2c;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5;
  }
}
